
pandas==1.2.4
geocoder
matplotlib==3.4.2
seaborn==0.11.1
numpy==1.20.3
streamlit==1.10.0
gspread==3.6.0
gspread_dataframe
df2gspread
datetime
html5lib
urllib3==1.24.3
bs4
mailjet_rest
oauth2client
altair
plotly==5.2.1
Pillow
gspread-formatting
google-api-python-client
mysql.connector
python-decouple
PySocks
Pillow
pyftpdlib
pybase64
streamlit-aggrid

extra_streamlit_components
jwt
bcrypt


